// Colors
$text-main: #fcfcfc;
$text-sec: #d17112;
$text-third: #131212;
$text-forth: #898989;
$text-error: #f95b5b;

$block-main: #d17112;
$block-main-hover: #d17112;
$block-sec: #181818;
$block-sec-hover: #313131;
$block-sec-hover-sec: #e5ebfa;
$block-third: linear-gradient(
    to top,
    #1a181b 0%,
    // Самый тёмный (низ)
    #2a282d 100% // Чуть светлее (верх)
);
$block-forth: #f9f9ff;
$block-forth-hover: #dfe4ff;
$block-disabled: #898989;
$block-disabled-active: #737171;
$under-line-color: #d7d7d7;
$block-success: #44b571;
$block-success-hover: #3b9660;
$block-error: #f95b5b;
$block-error-sec: #fffcfc;
$block-error-hover: #de4242;

$scroll-main: #bdbfc0;
$scroll-sec: #dedcdc;

$border-color-main: #d17112;
$border-color-sec: #dddddd;
$border-color-third: #5b74f925;
$border-color-error: #f95b5b50;
$border-color-error-sec: #de424280;

// Values
$z-index-base: 30;
$z-index-dropdown: 40;
$z-index-dropdown-upper: 41;
$z-index-dropdown-upper-sec: 42;
$z-index-header-search-products: 43;
$z-index-header-search-input: 44;
$z-index-popup: 50;
$z-index-modal: 60;
$z-index-page: 70;

$border-radius-default: 20px;
$border-radius-card: 30px;
$border-radius-block: 40px;
$border-radius-button: 50px;

$font-size-smaller-more: 13px;
$font-size-smaller: 14px;
$font-size-small: 16px;
$font-size-medium: 20px;
$font-size-big: 28px;
$font-size-big_plus: 32px;
$font-size-bigger: 48px;

$ripple-opacity: 0.3;
$ripple-animation-time: 500ms;
